@model KaphiyQuipu.DTO.RegistrarDevolucionGuiaRemisionRequestDTO
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola,<b>Kevin Rafael Andrade Cervantes</b></h3>
    <p>
        La Cooperativa de Servicios Múltiples Aprocassi te esta confirmando el envio del café procesado (Café oro verde) a sus instalaciones, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para continuar con el flujo.
    </p>
</body>
</html>