@model KaphiyQuipu.DTO.RegistrarResultadosTransformacionNotaIngresoPlantaRequestDTO
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola, <b>Jose Carlos Maya Suarez</b></h3>
    <p>
        La Planta Transformadora te ha confirmado la finalización de la transformación de la materia prima enviada, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para continuar con el flujo.
    </p>
</body>
</html>