@model KaphiyQuipu.DTO.GenerarGuiaRemisionPlantaRequestDTO
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola, <b>Ali Alberto Tirado Nogales</b></h3>
    <p>
        La @Model.Empresa te ha confirmado la finalización del proceso de transformación de la materia prima y se ha generado la guia de remisión @Model.Correlativo, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para continuar con el flujo.
    </p>
</body>
</html>