@model KaphiyQuipu.Models.GuiaRemisionAcopio
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola,<b>Eneko Fermin Corral San Martin</b></h3>
    <p>
        La Cooperativa de Servicios Múltiples Aprocassi te ha enviado un lote de materia prima en la guía de remisión  @Model.Correlativo, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para continuar con el flujo.
    </p>
</body>
</html>