@model KaphiyQuipu.DTO.ConfirmarEtiquetadoRequestDTO
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola, <b>Jose Carlos Maya Suarez</b></h3>
    <p>
        La Cooperativa de Servicios Múltiples Aprocassi te ha confirmado la finalización del etiquetado de sacos  relacionado a la nota de ingreso @Model.Correlativo, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para continuar con el flujo.
    </p>
</body>
</html>