@model KaphiyQuipu.DTO.ContratoCompraVenta.SolicitudConfirmacionAgrigultorDTO
@inject Microsoft.Extensions.Configuration.IConfiguration oIConfiguration
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h3>Hola, <b>@Model.Nombre</b></h3>
    <p>
        La Cooperativa de Servicios Múltiples Aprocassi te ha solicitado @Model.CantidadSolicitada sacos de café pergamino y cada saco
        debe pesar @Model.PesoSaco kilos, por favor ingresar a la pagina web http://kaphiyquipu.azurewebsites.net/ para brindar la confirmación.
    </p>
</body>
</html>